node_modules
# Серверные специфичные файлы (если есть)
server/dist/
# Клиентские специфичные файлы (если есть дополнительные)
client/.output/
client/.nuxt/
client/.nitro/
client/.cache/


# Другие специфичные для вашего проекта файлы