* {
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: $text-color;
  background: repeating-conic-gradient($secondary-color 0% 25%, $background-color 0% 50%) 50% / 50px 50px;
}

.chess-button {
  padding: 0.8rem 1rem;
  background-color: $primary-color;
  color: $background-color;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.chess-input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 2px solid $secondary-color;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}
